{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": 3
      }
    ],
    ["@babel/preset-typescript", { "jsxPragma": "h" }]
  ],
  "plugins": [["@babel/transform-react-jsx", { "pragma": "h" }]],
  "env": {
    "test": {
      "presets": [["preact-cli/babel", { "modules": "commonjs" }]]
    }
  }
}
