/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --main-color: #fa9513;
  --background-color: #f9f5db;
}

body {
  background: var(--background-color);
  color: #2f2f2f;
}

p {
  margin-bottom: 1em;
}

#app {
  padding: 2rem;
  max-width: 70rem;
  margin: 0 auto;
  font-family: "Merriweather", serif;
}

h1,
h2 {
  margin: 1rem 0;
  font-weight: bold;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

button {
  background: var(--background-color);
  border: 1px solid black;
  border-radius: 5rem;
  padding: 0.75rem;
  font-size: 1.2rem;
}
button:active,
button.pressed {
  background: rgb(213, 213, 213);
}
button:disabled {
  color: rgb(114, 114, 114);
}
button.pressed {
  animation: 0.3s fade-out linear forwards;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

main > section {
  flex-basis: 40%;
  padding: 1rem;
}

.input-container {
  text-align: center;
  display: flex;
  justify-content: center;

  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
}

.input-container .highlight {
  color: var(--main-color);
}

.input-container > div::after {
  content: "";
  background: var(--main-color);
  margin-left: 0.125rem;
  width: 0.125rem;
  height: 2.2rem;
  display: inline-flex;
  opacity: 0;

  animation: 1s blink step-end infinite;
}
.input-container.disabled > div::after {
  animation: none;
}

.letters .grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.letters .letter {
  flex: 1 25%;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.letters .letter button {
  display: block;
  line-height: 5rem;
  width: 5rem;
  padding: 0;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
}

.letters .letter:nth-child(1) {
  order: 4;
}

.letters .letter:nth-child(2) {
  order: 1;
}
.letters .letter:nth-child(2),
.letters .letter:nth-child(3) {
  flex-basis: 40%;
}

.letters .letter:nth-child(3) {
  order: 2;
}

.letters .letter:nth-child(4) {
  order: 3;
}

.letters .letter:nth-child(5) {
  order: 5;
}

.letters .letter:nth-child(6) {
  order: 6;
}

.letters .letter:nth-child(7) {
  order: 7;
}

.letters .center {
  order: 2;
}
.letters .center button {
  color: var(--main-color);
}

.wordlist ol li {
  list-style: none;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}

.wordlist ol li.highlight {
  color: var(--main-color);
}

.progress {
  width: 100%;
  min-height: 1rem;
  border: 1px solid #2f2f2f;
  background: #797979;
  border-radius: 0.25rem;
  padding: 0.125rem;
}
.progress .indicator {
  background: #2f2f2f;
  color: white;
  text-align: right;
  border-radius: 0.25rem;
  padding: 0.125rem;
}

/* ANIMATIONS */

@keyframes blink {
  50% {
    opacity: 1;
  }
}

@keyframes fade-out {
  100% {
    background: var(--background-color);
  }
}
